allow flags_health_check adsprpc_prop:file { open };
allow flags_health_check camera_prop:file { open };
allow flags_health_check camera_prop:file { getattr };
allow flags_health_check ctl_bugreport_prop:file { open };
allow flags_health_check ctl_bugreport_prop:file { getattr };
allow flags_health_check ctl_interface_start_prop:file { getattr };
allow flags_health_check ctl_interface_stop_prop:file { open };
allow flags_health_check hwservicemanager_prop:file { getattr };
allow flags_health_check hwui_prop:file { open };
allow flags_health_check hwui_prop:file { getattr };
allow flags_health_check last_boot_reason_prop:file { open };
allow flags_health_check last_boot_reason_prop:file { getattr };
allow flags_health_check llkd_prop:file { open };
allow flags_health_check llkd_prop:file { getattr };
allow flags_health_check location_prop:file { open };
allow flags_health_check location_prop:file { getattr };
allow flags_health_check vendor_cgroup_follow_prop:file { open };
allow flags_health_check vendor_cgroup_follow_prop:file { getattr };
allow flags_health_check vendor_coresight_prop:file { open };
allow flags_health_check vendor_coresight_prop:file { getattr };
allow flags_health_check vendor_data_ko_prop:file { open };
allow flags_health_check vendor_data_ko_prop:file { getattr };
allow flags_health_check vendor_data_shsusr_prop:file { open };
allow flags_health_check vendor_data_shsusr_prop:file { getattr };
allow flags_health_check vendor_dataadpl_prop:file { open };
allow flags_health_check vendor_dataadpl_prop:file { getattr };
allow flags_health_check vendor_dataqdp_prop:file { open };
allow flags_health_check vendor_dataqdp_prop:file { getattr };
allow flags_health_check vendor_dataqti_prop:file { open };
allow flags_health_check vendor_dataqti_prop:file { getattr };
allow flags_health_check vendor_display_prop:file { open };
allow flags_health_check vendor_display_prop:file { getattr };
allow flags_health_check vendor_gpu_prop:file { open };
allow flags_health_check vendor_gpu_prop:file { getattr };
allow flags_health_check vendor_iop_prop:file { open };
allow flags_health_check vendor_iop_prop:file { getattr };
allow flags_health_check vendor_ipacm-diag_prop:file { open };
allow flags_health_check vendor_ipacm-diag_prop:file { getattr };
allow flags_health_check vendor_ipacm_prop:file { open };
allow flags_health_check vendor_ipacm_prop:file { getattr };
allow flags_health_check vendor_mdm_helper_prop:file { open };
allow flags_health_check vendor_mdm_helper_prop:file { getattr };
allow flags_health_check vendor_media_msm8953_version_prop:file { open };
allow flags_health_check vendor_media_msm8953_version_prop:file { getattr };
allow flags_health_check vendor_mirrorlink_prop:file { open };
allow flags_health_check vendor_mirrorlink_prop:file { getattr };
allow flags_health_check vendor_mmi_prop:file { open };
allow flags_health_check vendor_mmi_prop:file { getattr };
allow flags_health_check vendor_mpctl_prop:file { open };
allow flags_health_check vendor_mpctl_prop:file { getattr };
allow flags_health_check vendor_opengles_prop:file { open };
allow flags_health_check vendor_opengles_prop:file { getattr };
allow flags_health_check vendor_pd_locater_dbg_prop:file { open };
allow flags_health_check vendor_pd_locater_dbg_prop:file { getattr };
allow flags_health_check vendor_per_mgr_state_prop:file { open };
allow flags_health_check vendor_per_mgr_state_prop:file { getattr };
allow flags_health_check vendor_qdcmss_prop:file { open };
allow flags_health_check vendor_qdcmss_prop:file { getattr };
allow flags_health_check vendor_qdma_prop:file { open };
allow flags_health_check vendor_qdma_prop:file { getattr };
allow flags_health_check vendor_radio_prop:file { open };
allow flags_health_check vendor_radio_prop:file { getattr };
allow flags_health_check vendor_rild_libpath_prop:file { open };
allow flags_health_check vendor_rild_libpath_prop:file { getattr };
allow flags_health_check vendor_scroll_prop:file { open };
allow flags_health_check vendor_scroll_prop:file { getattr };
allow flags_health_check vendor_softap_prop:file { open };
allow flags_health_check vendor_softap_prop:file { getattr };
allow flags_health_check vendor_ssr_prop:file { open };
allow flags_health_check vendor_ssr_prop:file { getattr };
allow flags_health_check vendor_sys_video_prop:file { open };
allow flags_health_check vendor_sys_video_prop:file { getattr };
allow flags_health_check vendor_system_prop:file { open };
allow flags_health_check vendor_system_prop:file { getattr };
allow flags_health_check vendor_tee_listener_prop:file { open };
allow flags_health_check vendor_tee_listener_prop:file { getattr };
allow flags_health_check vendor_time_service_prop:file { open };
allow flags_health_check vendor_time_service_prop:file { getattr };
allow flags_health_check vendor_usb_prop:file { open };
allow flags_health_check vendor_usb_prop:file { getattr };
allow flags_health_check vendor_video_prop:file { open };
allow flags_health_check vendor_video_prop:file { getattr };
allow flags_health_check vendor_vm_bms_prop:file { open };
allow flags_health_check vendor_vm_bms_prop:file { getattr };
allow flags_health_check vendor_wifi_ftmd_prop:file { open };
allow flags_health_check vendor_wifi_ftmd_prop:file { getattr };
allow flags_health_check vendor_wifi_version:file { open };
allow flags_health_check vendor_wifi_version:file { getattr };
allow flags_health_check vendor_wlc_prop:file { open };
allow flags_health_check vendor_wlc_prop:file { getattr };
allow flags_health_check vendor_xlat_prop:file { open };
allow flags_health_check vendor_xlat_prop:file { getattr };
allow flags_health_check wfd_debug_prop:file { open };
allow flags_health_check wfd_debug_prop:file { getattr };
allow flags_health_check wfd_service_prop:file { open };
allow flags_health_check wfd_service_prop:file { getattr };
allow flags_health_check wifi_prop:file { open };
allow flags_health_check wifi_prop:file { getattr };
allow flags_health_check wigig_core_prop:file { open };
allow flags_health_check wigig_core_prop:file { getattr };
